* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 200;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

svg {
    margin: 0;
    padding: 0;
    display: block;
    /* Esto ayuda a evitar el espacio adicional causado por el comportamiento inline */
}


header {
    background-color: #20346bff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    z-index: 10;
}

.navbar_options {
    width: auto;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44 64 117);
    padding: 10px 25px;
    border-radius: 20px;
}

.navbarlist {
    display: flex;
    gap: 20px;
}

.navbarlist_li a {
    color: white;
    font-size: 18px;
}

.titlekinal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 550px;
    margin-top: 36px;
}


#letra-k,
#letra-l {
    height: 400px;
    position: absolute;
    
}

#letra-k{
    left: 12%;
}

#letra-l{
    right: 16%;
}

.container_circles {
    position: absolute;
    width: 1100px;
    height: 550px;
    top: 0;
    z-index: 10;
}

.circles {
    display: flex;
    position: relative;
    width: 1100px;
}

.circle_1,
.circle_2,
.circle_3 {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    position: absolute;
    border: 8px solid #20346bff;
}

.circle_1 {
    top: 0;
    left: 0;
    background-color: #F39022;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.circle_title{
    font-size: 40px;
    width: 40%;
    position: absolute;
    left: 5%;
    color: #FDFCFD;
    font-weight: 700;
}

.circle_2 {
    top: 0;
    left: 250px;
    background-color: #C4AC2F;
    background-image: url("./sources/fondo.webp");
    background-repeat: no-repeat;
    background-position: 40% 50%;
}

.circle_3 {
    top: 0;
    right: 0px;
    background-color: #FDFCFD;
    background-image: url("./sources/128120_b83c057eaee7474599a434037e4063ee~mv2.webp");
    background-position: 30% 50%;
}

.socialmedia{
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 16%;
    
}

.socialmedia > a{
    background-color: rgb(44 64 117);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialmedia_icons{
    width: 25px;
}

.socialmedia_iconos-youtube{
    width: 30px;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 15px;
    margin-top: 150px;
    z-index: 10;
}

.title_principal {
    width: auto;
    font-size: 70px;
    font-weight: 700;
}



.title_subtitle {
    font-size: 25px;
}

#logo {
    height: 60px;
}

#Capa_1 {
    height: 750px;
    z-index: 10;
}

.bandages{
    display: flex;
    width: 80%;
    height: 180px;
    margin: auto;
    gap: 20px;
}

.bandages section{
    border-radius: 15px;
}


.bandages_1{
    width: 33.33%;
    background-image: linear-gradient(to right,rgb(44 64 117) 0%,  rgb(44 64 117) 50%,  transparent 50%, transparent 100%),url("./sources/128120_cf2d85c542a647abbcac92ba72bb97e6~mv2.webp");
    background-position: 40% 60%;
    display: flex;
    align-items: center;
    position: relative;
}

.bandage_info{
    position: absolute;
    width: 35%;
    left: 7%;
    display: flex;
    flex-direction: column;
}

.bandage_paragraph{
    color: #FDFCFD;
    font-weight: 500;
}
.bandage_button{
    border: 1px solid #FDFCFD;
    color: #FDFCFD;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    width: 90px;
    transition: all 0.3s ease;
}

.bandage_button:hover{
    background-color: #FDFCFD;
    color: #000;
}

.bandage_arrow{
    position:absolute;
    top: 5%;
    right:1%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 50%;
    padding: 12px;
}

.bandage_arrow img{
    height:20px;
    width:20px;
}

.bandages_2{
    width: 33.33%;
    background-image: linear-gradient(to right,rgb(44 64 117) 0%,  rgb(44 64 117) 50%,  transparent 50%, transparent 100%),url("./sources/128120_916f02d6dec04c2398c216df0e14a3b6~mv2.webp");
    background-position: 100% 26%;
    display: flex;
    align-items: center;
    position: relative;
    background-size: contain;
}

.bandages_3{
    width: 33.33%;
    background-image: linear-gradient(to right,rgb(44 64 117) 0%,  rgb(44 64 117) 50%,  transparent 50%, transparent 100%),url("./sources/128120_bc170bf192b345b7906419cf32197d66~mv2.webp");
    background-position: 43% 67%;
    display: flex;
    align-items: center;
    position: relative;
}

.bandages_circle1{
    margin: 0 auto;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-image: linear-gradient(to right,transparent 0%, transparent 50%,rgb(44 64 117) 50%,  rgb(44 64 117) 100%),url("./sources/128120_cf2d85c542a647abbcac92ba72bb97e6~mv2.webp");
    background-position: 50% 60%;
}

.bandages_circle2{
    margin: 0 auto;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-image: linear-gradient(to right,transparent 0%, transparent 50%,rgb(44 64 117) 50%,  rgb(44 64 117) 100%),url("./sources/128120_916f02d6dec04c2398c216df0e14a3b6~mv2.webp");
    background-position: -8% 13%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bandages_circle3{
    margin: 0 auto;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-image: linear-gradient(to right,transparent 0%, transparent 50%,rgb(44 64 117) 50%,  rgb(44 64 117) 100%),url("./sources/128120_bc170bf192b345b7906419cf32197d66~mv2.webp");
    background-position: 50% 60%;
}

/*Main*/

.academy{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1200px);
    width: 95%;
    margin: 0 auto;
}

.academy_card{
    display: flex;
    width: 20%;
    flex-direction: column;
    background-color: rgb(137 19 66);
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: 60%;
}
.academy_card_title{
    color: #FDFCFD;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
}

.academy_card_paragraph{
    color: #FDFCFD;
    text-align: center;
    padding: 10px;
}

.academy_card_img{
    width: 80%;

}

.academy_card-basico{
    transform: rotateY(66deg);
    transition: all 0.8s ease;
}

.academy_card-basico:hover{
    transform: rotateY(78deg);
}

.academy_card-diversificado{
    background-color: rgb(28, 51, 123);
    transform: rotateY(45deg);
    transition: all 0.8s ease;
}

.academy_card-diversificado:hover{
    transform: rotateY(55deg);
}

.academy_card-escuelatecnica{
    background-color: rgb(227, 155, 22);
    transform: translateY(84px);
    transition: all 0.8s ease;
}

.academy_card-escuelatecnica:hover{
    transform: scaleY(1);
}

.academy_card-negocio{
    background-color: rgb(21, 39, 90);
    transform: rotateY(-45deg);
    transition: all 0.8s ease;
}

.academy_card-negocio:hover{
    transform: rotateY(-55deg);
}

.academy_card-universitario{
    background-color: rgb(144, 21, 65);
    transform: rotateY(-66deg);
    transition: all 0.8s ease;
}

.academy_card-universitario:hover{
    transform: rotateY(-78deg);
}

.div2{
    background-color: blue;
    width: 100%;
}

.square{
    width: 150px;
    height: 150px;
    background-color: fuchsia;
}
.square2{
    margin-top: 300px;
    width: 150px;
    height: 150px;
    background-color: yellow;
}

.partners{
    background-color: #20346bff;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_partner{
    width: 30%;
}
.container_partner_title{
    color: #FDFCFD;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

.container_partner_paragraph{
    color: #FDFCFD;
    text-align: center;
    line-height: 25px;
}

.partners img{
    position: absolute;
}

.partener_autodesk{
    top: 10%;
    animation:moveLeftAutodesk 2s infinite alternate; 
    width: 270px;
    left: 5%;
}

.partener_cisco{
    top: 30%;
    animation: moveLeftCisco 2s infinite alternate; 
    width: 270px;
    left: 15%;
}

.partener_dynEd{
    top: 78%;
    width: 309px;
    left: 32%;
    animation: moveLeftDynEd 2s infinite alternate;

}

.partener_honda{
    top: 13%;
    width: 312px;
    left: 40%;
    animation: moveCenterHonda 2s infinite alternate;
}

.partener_oracle{
    top: 60%;
    width: 270px;
    left: 9%;
    animation: moveRightOracle 2s infinite alternate;
}

.partener_pearson_vue{
    top: 70%;
    width: 270px;
    left: 55%;
    animation: moveLeftPearsonVue 2s infinite alternate;
}

.partener_toefl{
    top: 26%;
    width: 270px;
    right: 20%;
    animation: moveRightToefl 2s infinite alternate;
}

.partener_universidad_istmo{
    top: 55%;
    width: 270px;
    right: 8%;
    animation: moveRightIstmo 2s infinite alternate;
}

.partener_vmware{
    top: 8%;
    width: 270px;
    right: 5%;
    animation: moveRightVmware 2s infinite alternate;
}



@keyframes moveLeftAutodesk {
  0% {
    top: 5%;
  }
  100% {
    top: 10%; /* Se mueve hasta el borde derecho */
  }
}
@keyframes moveLeftCisco {
  0% {
    left: 18%;
  }
  100% {
    left: 12%; /* Se mueve hasta el borde derecho */
  }
}

@keyframes moveLeftDynEd {
    0% {
        top: 73%;
    }
    100% {
        top: 78%; /* Se mueve hasta el borde derecho */
    }
  }
@keyframes moveRightOracle {
    0% {
      left: 9%;
    }
    100% {
      left: 15%; /* Se mueve hasta el borde derecho */
    }
  }
@keyframes moveCenterHonda {
    0% {
        left: 36%;
    }
    100% {
        left: 39%; /* Se mueve hasta el borde derecho */
    }
  }
@keyframes moveLeftPearsonVue{
    0% {
      left: 55%;
    }
    100% {
      left: 50%; /* Se mueve hasta el borde derecho */
    }
  }
@keyframes moveRightToefl{
    0% {
      right: 22%;
    }
    100% {
      right: 20%; /* Se mueve hasta el borde derecho */
    }
  }
@keyframes moveRightVmware{
    0% {
        top: 12%;
    }
    100% {
        top: 8%; /* Se mueve hasta el borde derecho */
    }
  }
@keyframes moveRightIstmo{
    0% {
        top: 55%;
    }
    100% {
        top: 58%; /* Se mueve hasta el borde derecho */
    }
  }


.datoskinal{
    background-image: url("./sources/fondo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
}

.trabajos{
    height: 70%;
    width: 80%;
    backdrop-filter: blur(15px);
    margin: auto;
    border: 2px solid #FDFCFD;
    border-radius: 30px;
    display: flex;
    position: relative;
}
.logo_trabajos{
    position: absolute;
    width: 200px;
    left: 2%;
    top: 2%;
}

.trabajos_information{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trabajos_information_title{
    color: #FDFCFD;
    font-weight: 700;
    font-size: 45px;
}

.trabajos_information_subtitle{
    color: #fdfcfdbc;
    font-weight: 500;
    font-size: 30px;
}

.trabajos_information_paragraph{
    color: #FDFCFD;
    font-size: 25px;
    width: 60%;
    text-align: center;
}
.trabajos_img{
    width: 30%;
    height: 100%;
    object-fit:cover;
    object-position: 50% 50%;
    border-radius: 30px;
}

.separador_kinal{
    background-color: #20346bff;
    display: flex;
    
}

.separador_kinal > svg{
    height: 350px!important;
    margin-left: 20%;
}

.separador_kinal_titulo{
    font-size: 70px;
    color: #FDFCFD;
    font-weight: 700;
    height: 90px;
    margin: auto 0;
}

.masjoveneskinal{
    display: flex;
    flex-direction: row-reverse;
}

.logo_trabajos-masjovenes{
    position: absolute;
    width: 200px;
    right: 2%;
    top: 2%;
}


.beneficiados{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.beneficiados_title{
    font-size: 25px;
    color: #20346bff;
    font-weight: 700;
    margin-bottom: 192px;
}

.beneficiados_figura{
    position: relative;
    background-color: #20346bff;
    height: 40%;
    width: 80%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.beneficiados_figura > span{
    position: absolute;
    color: #FDFCFD;
    border-radius: 50%;
    width: 16%;
    height: 152%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -112%;
    font-size: 45px;
    font-weight: 700;
}
.beneficiados_figura_1{
    left: 10%;
    background-color: #ffbb39;
}

.beneficiados_figura_1::before{
    content: "ESCUELA TÉCNICA";
    position: absolute;
    width: 100%;
    height: 0;
    top: 100%;
    left: 16%;
    font-size: 20px;
    font-weight: 500;
}

.beneficiados_figura_2{
    left: 30%;
    background-color: #840a41;
}

.beneficiados_figura_2::before{
    content: "CICLO BÁSICO";
    position: absolute;
    width: 100%;
    height: 0;
    top: 100%;
    left: 23%;
    font-size: 20px;
    font-weight: 500;
}

.beneficiados_figura_3{
    left: 50%;
    background-color: #28326a;
}

.beneficiados_figura_3::before{
    content: "DIVERSIFICADO";
    position: absolute;
    width: 100%;
    height: 0;
    top: 100%;
    left: 21%;
    font-size: 20px;
    font-weight: 500;
}   

.beneficiados_figura_4{
    left: 70%;
    background-color: #f37828;
}

.beneficiados_figura_4::before{
    content: "TOTAL";
    position: absolute;
    width: 100%;
    height: 0;
    top: 100%;
    left: 40%;
    font-size: 20px;
    font-weight: 500;
}

.footerkinal{
    background-color: #20346bff;
    display: flex;
    flex-direction: column;
    padding: 50px 210px 15px 210px;
}

.footercolumns{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footercolumns_1{
    width: 25%;
}

.footercolumns_2{
    width: 40%;
    display: flex;
    gap: 50px;
}

.footercolumns_img{
    width: 210px;
}

.footercolumns_paragraph{
    color: #FDFCFD;
    font-size: 15px;
}

.footercolumns_iconos{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
}

.footercolumns_iconos_facebok{
    width: 30px;
}

.footercolumns_iconos_instagram{
    width: 30px;
}


.footercolumns_iconos_youtube{
    width: 35px;
}

.footercolumn_title{
    font-weight: 500;
    color: #FDFCFD;
}

.footercolumn_container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fdfcfdb4;
}
.footercopyright{
    display: flex;
    border-top: 1px solid #fdfcfd41;
    margin-top: 100px;
}

.textcopyright{
    font-size: 12px;
    color: #FDFCFD;
    padding: 15px 0;
}


/*Pagina Personal */

.header {
    background-image: url(./sources/Firefly\ 20240617120944.png);
    height: 970px;
    background-size: cover;
    position: relative;
}

.header__nav {
    position: relative;
}

.header__titulo {
    position: relative;
}

.header::before {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;

}

.header__titulo {
    margin: 190px 0 0 190px;

}

.navegacion {
    display: flex;
    justify-content: space-between;
}

.navegacion__derecha {
    display: flex;
    margin-right: 10rem;
    list-style: none;
    font-size: 20px;
    gap: 50px;
    margin-top: 25px;

}

.navegacion__derecha>li a {
    color: #fff;

}

.principal {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.principal__menu {
    height: 30px;
}

.principal__texto {
    color: #fff;
    font-size: 20px;
    margin-left: 24px;
}

.textoPrincipal__titulo {
    font-size: 65px;
    color: #fff;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.textoPrincipal__parrafo {
    font-size: 15px;
    color: #fff;
    width: 550px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.reproductorMockup {
    background-image: linear-gradient(to top, transparent 20%, #240e2d 100%),
        url(./sources/fondoVibFull.png);
    background-image: linear-gradient(to bottom, transparent 30%, #240e2d 100%),
        url(./sources/fondoVibFull.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.reproductorMockup::before {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.reproductorMockup__titulo {
    position: relative;
    color: #fff;
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
    grid-column: 1/3;
}

.reproduce {
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.container-reproduce {
    border: solid 1px #ab18eb;
    border-radius: 20px;
    background-color: #1b0826;
    width: 380px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    grid-column: 1/2;
}

.container-reproduce__imagen {
    width: 300px;
    border-radius: 30px;
    position: relative;
    margin-top: 50px;
}

.container-reproduce__cancion {
    position: relative;
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
}

.container-reproduce__autor {
    position: relative;
    color: #fff;
    opacity: 0.5;
    font-size: 15px;
}

.lineas {
    margin-top: 30px;
}

.lineas__linea {
    height: 3px;
    background-color: #fff;
    width: 300px;
    border-radius: 100px;
    position: relative;
}

.lineas__linea2 {
    height: 3px;
    background-color: #ab18eb;
    width: 300px;
    border-radius: 100px;
    width: 40%;
    position: relative;
    top: -3px;
}

.tiempos {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 25px;

}

.tiempos__texto {
    color: #ab18eb;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.controles {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    position: relative;
    margin-bottom: 50px;
}

.controles__imagen {
    width: 40px;
    position: relative;
}


.controles__imagen--fondo {
    width: 20px;
    height: 20px;
    margin: auto 0;
}

.controles__fondo {
    background-color: #ab18eb;
    width: 40px;
    height: 40px;
    left: 131px;
    position: absolute;
    border-radius: 20px;
}

.anuncio1 {
    grid-column: 2/3;
    margin: auto 0;
    height: 40%;
    width: 100%;
    position: relative;
}

.anuncio1__titulo {
    font-size: 50px;
    color: #fff;
}

.anuncio1__parrafo {
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    ;
}

.reproduce2 {
    margin: 0 auto;
    width: 80%;
    margin-top: 80px;
    padding-bottom: 80px;
}

.planes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;

}

.plan1 {
    display: grid;
    position: relative;
    width: 400px;
    background-color: #131448;
    padding: 24px;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: 0.3s;
}

.plan1:hover {
    transform: scale(1.2) rotate(2deg);
}

.plan1__premium {
    color: #fff;
    font-size: 20px;
    margin-top: 50px;
}

.plan1__individual {
    color: #980dff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.plan1__gratis {
    color: #fff;
    font-size: 18px;
    margin-top: 17px;
}

.plan1__precioDespues {
    color: #fff;
    font-size: 15px;
    opacity: 0.5;
}

.hr {
    display: inline-block;
    width: 100%;
    border: solid 0.1px hsl(0, 0%, 95%);
    border-bottom: none;
    opacity: 0.2;
    position: relative;
    margin: 17px 0;
}

.plan1__detalles {
    color: #fff;
    font-size: 15px;
    margin-top: 5px;

}

.plan1__button {
    margin: 20px 0;
    background-color: #3b0890;
    padding: 10px 15px;
    font-size: 17px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
}

.plan1__etiqueta {
    position: relative;
    background-color: #3b0890;
    color: #fff;
    width: 200px;
    bottom: 395px;
    font-size: 17px;
    padding: 6px 20px;
    left: -25px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.plan1__etiqueta--movido {
    bottom: 398px;
}

.reproduce3__container {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 100px;
}

.reproduce3__titulo {
    position: relative;
    color: #fff;
    padding: 100px 0;
    font-size: 40px;
    text-align: center;

}

.reproduce3 {
    position: relative;
    background-color: #150617;

}

.container3-imagenes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container3-imagenes__container {
    display: flex;
    flex-direction: column;
}

.container3-imagenes__img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    transition-property: transform;
    transition-duration: 0.3s;
}

.container3-imagenes__img:hover {
    transform: scale(1.3) rotate(4deg);
}

.container3-imagenes__texto {
    position: relative;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 15px;
}

.container3-imagenes__artista {
    position: relative;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 5px;
    opacity: 0.5;
}


.footer-principal {
    background-color: #000;
}

.footer {
    width: 80%;
    margin: 0 auto;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 75%;
    padding-top: 80px;
    margin: 0 auto;
}

.footer-container__1 {
    display: flex;
    flex-direction: column;

}

.footer-container__1>h2 {
    color: #fff;
    opacity: 0.5;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 13px;
}

.footer-container__texto {
    color: #fff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

.footer-container__texto:hover {
    color: #6f2be2;
}

.footer-container-3 {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 30px 0;
}

.footer-container-3>span {
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 12%;
    opacity: 0.5;
    font-size: 13px;
}

.footer-listado {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0;
    padding-right: 20%;
}

.footer-listado>li {
    color: #fff;
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
    opacity: 0.5;
}

.started {
    margin-top: 50px
}

.started__label {
    background-color: rgb(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    width: 190px;
    border-radius: 25px;
    font-size: 16px;
    position: absolute;
}

.started__imagen {
    position: relative;
    left: 147px;
    top: 3px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 25px;
    padding: 10px;
}

.container {
    background-color: #121212;
    height: 700px;
}

.header-gradient-1 {}

.header-gradient {
    width: 100%;
    height: 200px;
    background: linear-gradient(98.85deg, rgba(18, 18, 18, 0.3) 0%, #121212 100%), linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, #121212 100%), #00f2ff;

}